/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Bootstrap helper
   ========================================================================== */
.container-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-no-padding > .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container-no-padding>.navbar-collapse,
.container-no-padding>.navbar-header {
    margin-left:0;
    margin-right:0;
}

@media (min-width: 768px) {
    .vertical-align {
      display: flex;
      flex-direction: row;
    }

    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
      display: flex;
      align-items: center;
      justify-content: center; /* Optional, to align inner items
                                  horizontally inside the column */
    }
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   @font-face {
     font-family: 'Proxima Nova Regular';
     src: url('../fonts/Proxima Nova Regular.otf')  format('opentype');
     font-weight: 500;
     font-style: normal;

}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/Proxima Nova Light.otf')  format('opentype');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('../fonts/Proxima Nova Thin.otf')  format('opentype');
  font-weight: 100;
  font-style: normal;

}

body {
       width: 100%;
       height: 100%;
       font-family: "Proxima Nova",Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
       color: #34495e;
       background-color: #fbfcfc;
   }
html {
       width: 100%;
       height: 100%;
   }

h1,
h2,
h3,
h4,
h5,
h6 {
       margin: 0 0 35px;
       text-transform: uppercase;
       font-family: "Proxima Nova Regular", Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
       font-weight: 700;
       letter-spacing: 1px;
   }

p {
       margin: 0 0 25px;
       font-size: 18px;
       line-height: 1.5;
       font-family: "Proxima Nova Regular", Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

@media(min-width:768px) {
    p {
           margin: 0 0 35px;
           font-size: 20px;
           line-height: 1.6;
      }
    }
a {
        color: #42dca3;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

a:hover,
a:focus {
        text-decoration: none;
        color: #1d9b6c;
    }



.navbar-custom {
        margin-bottom: 0;
        color: black;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;


    }

.navbar-custom .navbar-brand {
        font-weight: 700;
    }

.navbar-custom .navbar-brand:focus {
        outline: 0;
    }

.navbar-custom .navbar-brand .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: #34495e;
    }

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
        outline: 0;
    }

.navbar-custom a {
        color: #fff;
    }

.navbar-custom .nav li a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;

    }

.navbar-custom .nav li a:hover {
        outline: 0;
        color: rgba(255,255,255,.8);
        background-color: transparent;

    }

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
        outline: 0;
        background-color: transparent;


    }

.navbar-custom .nav li.active {
        outline: 0;

    }

.navbar-custom .nav li.active a {
        background-color: rgba(255,255,255,.3);
    }

.navbar-custom .nav li.active a:hover {
        color: #fff;
    }

@media(min-width:768px) {
    .navbar-custom {
            padding: 20px 0;
            border-bottom: 0;
            letter-spacing: 1px;
            background: 0 0;
            -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
        }

    .navbar-custom.top-nav-collapse {
            padding: 0;
            border-bottom: 1px solid rgba(255,255,255,.3);
            background: #34495e;

        }
    }


.intro {
        display: table;
        width: 100%;
        height: auto;
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
        background-color: #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

    }

.creative{
        font-family: "Proxima Nova Thin",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight:100;
        line-height: .9em;
        font-size: 45pt;
    }
  #contact{
    font-family: "Proxima Nova Thin",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

.intro .intro-body {
        display: table-cell;
        vertical-align: middle;
    }

.intro .intro-body .brand-heading {
        font-size: 40px;
    }

.intro .intro-body .intro-text {
        font-size: 18px;
    }

.thanks{
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.mail{
  font-size: 24px;
}
header img {
        display: block;
        margin: 0 auto 20px;

    }





@media(min-width:768px) {
    .intro {
            height: 100%;
            padding: 0;
        }

    .intro .intro-body .brand-heading {
          font-size: 100px;
        }

    .intro .intro-body .intro-text {
            font-size: 26px;
        }
    }

.btn-circle {
        width: 70px;
        height: 70px;

        padding: 7px 16px;
        border: 2px solid #fff;
        border-radius: 100%!important;
        font-size: 40px;
        color: #fff;
        background: 0 0;
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }
.btn-circle:hover,
.btn-circle:focus {
        outline: 0;
        color: #fff;
        background: rgba(255,255,255,.1);
    }

.btn-circle i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }

.btn-circle:hover i.animated {
        -webkit-animation-name: pulse;
        -moz-animation-name: pulse;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }

@-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

@-moz-keyframes pulse {
        0% {
            -moz-transform: scale(1);
            transform: scale(1);
        }

        50% {
            -moz-transform: scale(1.2);
            transform: scale(1.2);
        }

        100% {
            -moz-transform: scale(1);
            transform: scale(1);
        }
    }


.download-section {
        width: 100%;
        padding: 50px 0;
        color: #fff;

        background-color: #3498db;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .content-section {
            padding-top: 50px;
        }
.copyright{
  padding-top: 100px;
}
.icon-text{
  font-family: 'Proxima Nova Light';
  text-transform: uppercase;
  padding-top: 20px;
}
.icon-container{
  border-radius: 100%;
  border: 2px solid #ffffff;
  max-width: 82px;
  margin: 0 auto;
}

.service-container{
  text-align: center;
  padding-top: 50px;
}

.info-cards{
  padding-top: 40px;
}
.about-wrapper{
  text-align: center;

}
.header-text{
  padding-top: 40px;
}
.about-text h2 {
  padding-bottom: 4px;
  margin-bottom: 10px;
  color: #00a2c1;
  border-bottom: 1px solid #e3e3e3;
}

.about-text p {
  font-family: "Proxima Nova Light"
}

.second-input{
  padding-top: 20px;
}

@media(min-width:768px) {
    .content-section {
            padding-top: 50px;
        }

    .download-section {
            padding: 100px 0;
        }


.btn {
            border-radius: 0;
            text-transform: uppercase;
            font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: 400;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        ::-moz-selection {
            text-shadow: none;
            background: #fcfcfc;
            background: rgba(255,255,255,.2);
        }

        ::selection {
            text-shadow: none;
            background: #fcfcfc;
            background: rgba(255,255,255,.2);
        }

        img::selection {
            background: 0 0;
        }

        img::-moz-selection {
            background: 0 0;
        }

        body {
            webkit-tap-highlight-color: rgba(255,255,255,.2);
        }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
